@layer atoms {
  .parallax {
    view-timeline-name: --parallax-timeline;
    view-timeline-axis: block;
    overflow: hidden;

    > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      scale: calc(1 + var(--parallax-offset, 0.2) * 2);
      animation-name: parallax;
      animation-duration: auto;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-timeline: --parallax-timeline;
      animation-range: cover;
      will-change: translate;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
        scale: 1;
      }
    }
  }

  @keyframes parallax {
    from {
      translate: 0 calc(var(--parallax-offset, 0.2) * 100 * -1%);
    }

    to {
      translate: 0 calc(var(--parallax-offset, 0.2) * 100 * 1%);
    }
  }
}
