@layer molecules {
  .expandable {
    /* See: https://codepen.io/utilitybend/pen/PoMyBbj */
    @supports selector(::details-content) {
      &::details-content {
        height: 0;
        transition:
          height var(--duration-normal),
          content-visibility var(--duration-normal) allow-discrete;
        overflow: clip;
      }
    }

    &[open] {
      .icon {
        transform: rotate(180deg);
      }

      @supports selector(::details-content) {
        &::details-content {
          height: auto;
        }
      }
    }
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform var(--duration-normal);
  }

  .container {
    padding-top: 1rem;
  }

  .summary {
    font-weight: 700;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
