// https://adamcoster.com/blog/pnpm-config

engine-strict=true
save-exact=true
auto-install-peers=true

// react-paginate fails...
strict-peer-dependencies=false
enable-pre-post-scripts=true

// https://github.com/pnpm/pnpm/issues/8878#issuecomment-2547568225
public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*eslint*
