@layer atoms {
  .tag {
    font-size: 0.625rem;
    line-height: calc(1.5rem - 2px);
    padding-inline: 0.5rem;
    border: 1px solid currentColor;
    display: inline-block;
    font-weight: 700;
    border-radius: 3px;
  }
}
