@layer base {
  :root {
    @supports (interpolate-size: allow-keywords) {
      interpolate-size: allow-keywords;
    }
  }

  html,
  body {
    -webkit-overflow-scrolling: touch;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-body);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
  }

  hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: currentColor;
    margin: 0;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  button {
    border: 0;
    appearance: none;
    background: none;
    cursor: pointer;
    color: inherit;
    padding: 0;
    font-size: inherit;
  }

  ul,
  ol {
    &[role="list"],
    &[role="listbox"] {
      list-style: none;
      padding: 0;
    }
  }

  /* Remove 300ms delay on buttons:
  https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#manipulation */
  a,
  button,
  input[type="button"],
  input[type="submit"] {
    touch-action: manipulation;
  }

  button,
  input,
  select,
  textarea,
  a {
    outline-offset: 4px;

    &:focus-visible {
      outline: 2px solid currentColor;
    }
  }

  /* Remove animations and transitions on devices that are low on resources or battery
  From: https://hankchizljaw.com/wrote/a-modern-css-reset/ */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }
}
