@layer molecules {
  .localeItem {
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  .localeItemActive {
    text-decoration: underline;
  }
}
