@layer atoms {
  .paragraph {
    --paragraph-font-size: 1rem;
    --paragraph-line-height: 1.5;

    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
  }

  .lead {
    --paragraph-font-size: 1.125rem;
  }

  .normal {
  }

  .small {
    --paragraph-font-size: 0.875rem;
  }

  .clamped {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--paragraph-number-of-lines);
    line-clamp: var(--paragraph-number-of-lines);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
