@layer atoms {
  .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    margin: 0;
  }

  .display {
    font-size: 2rem;
    line-height: 1.24;
  }

  .h1 {
    font-size: 1.75rem;
    line-height: 1.24;
  }

  .h2 {
    font-size: 1.5rem;
    line-height: 1.24;
  }

  .h3 {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .h4 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .h5 {
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .h6 {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}
