@layer molecules {
  .tabs {
    -webkit-tap-highlight-color: transparent;

    > ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      border-bottom: 1px solid var(--color-secondary-300);
      overflow-x: auto;
      overflow-y: hidden;
      padding: 5px;
      margin: -5px -5px 1rem -5px;

      > li {
        position: relative;
        list-style: none;
        padding-left: 0;
        cursor: pointer;
        margin-bottom: -1px;
        transition: color var(--duration-fast);
        outline-offset: 4px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          width: 100%;
          height: 1px;
          background-color: var(--color-secondary-300);
          transform-origin: bottom center;
          transition:
            transform var(--duration-fast),
            background-color var(--duration-fast);
          z-index: 1;
        }

        &:hover,
        &:focus-visible {
          &::after {
            transform: scaleY(3);
            background-color: var(--color-secondary-500);
          }
        }

        > span {
          position: relative;
          z-index: 1;
          padding-bottom: 0.75rem;
          display: block;
          white-space: nowrap;
        }

        &[aria-selected="true"] {
          color: var(--color-primary-500);

          &::after {
            transform: scaleY(3);
            background-color: var(--color-primary-500);
          }
        }

        &[aria-disabled="true"] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    > div[role="tabpanel"] {
      display: none;
    }
  }

  .tabPanelSelected {
    display: block !important;
  }
}

@keyframes sticky-scroll-shadow {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: var(--sticky-shadow);
  }
}
