@layer molecules {
  .field {
    border-width: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .isHidden {
    display: none;
  }

  .isDisabled {
    opacity: 0.45;

    select,
    input,
    textarea {
      cursor: not-allowed;
    }
  }
}
