@layer molecules {
  .alert {
    border: 1px solid currentColor;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: var(--radius-01);
  }

  .alertNormal {
    color: var(--color-body);
  }

  .alertInfo {
    color: var(--color-primary-500);
    background-color: var(--color-primary-50);
  }

  .alertDanger {
    color: var(--color-negative-500);
    background-color: var(--color-negative-50);
  }

  .alertSuccess {
    color: var(--color-positive-500);
    background-color: var(--color-positive-50);
  }

  .icon {
    > svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
    }
  }

  .content {
  }
}
