@layer atoms {
  .container {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .bar {
    width: 80px;
    height: 1rem;
    border-radius: var(--radius-small);
    border: 1px solid var(--form-input-border);
    overflow: hidden;
  }

  .barInner {
    width: 0;
    height: calc(1rem - 2px);
    transition: width var(--duration-normal);
    box-shadow: inset 0px 0px 0px 1px var(--color-white);
    border-radius: var(--radius-small);

    &[data-score="-1"] {
      width: 20%;
      background-color: var(--color-secondary-200);
    }

    &[data-score="0"] {
      width: 20%;
      background-color: var(--color-negative-500);
    }

    &[data-score="1"] {
      width: 40%;
      background-color: var(--color-negative-500);
    }

    &[data-score="2"] {
      width: 60%;
      background-color: yellow;
    }

    &[data-score="3"] {
      width: 80%;
      background-color: orange;
    }

    &[data-score="4"] {
      width: 100%;
      background-color: var(--color-positive-500);
    }
  }

  .message {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
