@layer atoms {
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    /*font-family: "body";*/
    font-weight: 700;
    appearance: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--radius-01);
    transition:
      border-color var(--duration-fast),
      background-color var(--duration-fast),
      color var(--duration-fast);

    &:disabled,
    &[aria-disabled="true"] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .pressAnimation {
    transition:
      transform var(--duration-fast),
      color var(--duration-fast),
      background-color var(--duration-fast),
      border-color var(--duration-fast);
    transition-timing-function: var(--easing-swift-out);

    &:active {
      transform: scale(0.98);
    }
  }

  .buttonPrimary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    border-color: var(--button-primary-border);

    &:hover,
    &:focus-visible {
      background-color: var(--button-primary-hover-background);
      border-color: var(--button-primary-hover-border);
      color: var(--button-primary-hover-color);
    }
  }

  .buttonSecondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-background);
    border-color: var(--button-secondary-border);

    &:hover,
    &:focus-visible {
      background-color: var(--button-secondary-hover-background);
      border-color: var(--button-secondary-hover-border);
      color: var(--button-secondary-hover-color);
    }
  }

  .buttonNegative {
    color: var(--button-negative-color);
    background-color: var(--button-negative-background);
    border-color: var(--button-negative-border);

    &:hover,
    &:focus-visible {
      background-color: var(--button-negative-hover-background);
      border-color: var(--button-negative-hover-border);
      color: var(--button-negative-hover-color);
    }
  }

  .buttonPositive {
    color: var(--button-positive-color);
    background-color: var(--button-positive-background);
    border-color: var(--button-positive-border);

    &:hover,
    &:focus-visible {
      background-color: var(--button-positive-hover-background);
      border-color: var(--button-positive-hover-border);
      color: var(--button-positive-hover-color);
    }
  }

  .buttonOutline {
    color: var(--button-outline-color);
    border-color: var(--button-outline-border);

    &:hover,
    &:focus-visible {
      background-color: var(--button-outline-hover-background);
      border-color: var(--button-outline-hover-border);
    }
  }

  .buttonGhost {
    color: var(--button-ghost-color);
    border-color: transparent;

    &:hover,
    &:focus-visible {
      background-color: var(--button-ghost-hover-background);
      border-color: var(--button-ghost-hover-border);
    }
  }

  .buttonSimple {
    border-color: transparent;
  }

  .buttonSmall {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .buttonNormal {
    padding: 0.625rem 1.25rem;
  }

  .buttonLarge {
    padding: 1.125rem 2rem;
  }

  .buttonBase {
    border-radius: 0;
  }

  .buttonFullWidth {
    width: 100%;
  }

  .buttonIsLoading {
    cursor: wait;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--duration-fast);
    gap: 0.5rem;
  }

  .contentIsLoading {
    opacity: 0;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity var(--duration-fast);
    pointer-events: none;
  }

  .spinnerIsLoading {
    opacity: 1;
  }

  .icon {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  .iconSmall {
    width: 1rem;
    height: 1rem;
  }
}
