@layer molecules {
  .richtext {
    overflow: hidden;
  }

  .richtextContent {
    background-color: var(--form-input-background);
    margin: 1rem;
    min-height: 10rem;
    outline-offset: 10px;

    &:focus-visible {
      outline: 2px solid currentColor;
    }
  }
}
