@layer atoms {
  .textarea {
    line-height: 1.5rem;
    padding: 9px 17px;
    resize: vertical;
    font-size: 1rem;
    width: 100%;
    display: block;
    min-height: calc(1.5rem + 9px * 2 + 2px);
  }
}
